body{
    min-height: 100vh;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 81px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #9C9C9C;
}

.navbar{
    background-color: #1b1b1b;
    margin-top: 0;
    padding: 0px;
    border-radius: 0 0 8px 8px;
}

.navbar ul{
    display: flex;
    height: 70px;
    width: 1110px;
    gap: 64px;
    margin: 0px;
    padding: 1px 0px;
    justify-content: flex-end;
    align-items: center;
}

.left {
    margin-right: auto;
    margin-left: 60px;
}

.right{
    margin-right: 90px;
}

li{
    list-style-type: none;
}

a{
    color: #9C9C9C;
    text-decoration: none;
}

.info{
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-width: 5px;
}

.header{
    display: inline-block;
    font-size: 44px;
    color: #FFFFFF;
    margin: 0;
    border-right: 5px solid;
    width: 100%;
    max-width: 255px;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(13),
        cursor .33s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from { width: 0}
}

p{
    max-width: 456px;
    margin: 0;
}

button{
    width: 308px;
    height: 63px;
    background-color: #3F8E00;
    border-width: 0;
    box-shadow: 0px 0px 20px 5px rgba(98,186,27,0.85);
    border-radius: 4px;
}

button a{
    font-size: 16px;
    color:#FFFFFF;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
    text-decoration: none;
}

.social-media-icons{
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    gap: 35px;
}

.social-media-icons a{
    font-size: 35px;
}

i{
    color: #9C9C9C;
    height: 35px;
    width: 35px;
}

