body{
    background-color: #080808;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #9C9C9C;
    font-size: 36px;
}

a{
    text-decoration: none;
    color: #9C9C9C;
    font-size: 16px;
}
